
.header-logo{
    height: 50px;
    background-color: rgb(225, 85, 85);
    cursor: pointer;
}
.header-profile-div{
    height: fit-content;
    width: fit-content;
}
.header-profile{
    height: 40px;
    width: 40px;
    border: 1px solid black;
    background-color: gray;
    border-radius: 50%;
    cursor: pointer;

}
.header-profile-menu{
    width: fit-content;
    border: 1px solid rgba(0, 0, 0, 0.456);
    background-color: white;
    position: absolute;
    margin-top: 5px;
    display: none;
    transition: opacity 0.3s ease;
    opacity: 0;
    pointer-events: none;
    
}
.header-profile-menu-item{
    cursor: pointer;
    transition: background-color 200ms linear;
}

.header-profile-menu-item:hover{
    background-color: rgb(153, 153, 153);
}
.header-profile-menu[style*="display: block"] {
    opacity: 1;
    pointer-events: auto;
}
.header-list{
    list-style: none;
    display: flex;
    gap: 1rem;
}
.header-list-item-link{
    text-decoration: none;
    color: black;
}
.header-right-content-div{
    width: 20rem;
    align-items: center;
    justify-content: center;

}

.header-login-button{
    height: 3rem;
    width: 9rem;
    background-color: #974ec3;
    outline: none;
    border: 0;
    color: white;
    border-radius: 50px;
    cursor: pointer;
    
}
.header-signup-button{
    height: 3rem;
    width: 9rem;
    background-color: white;
    color: black;
    border: none;
    filter: drop-shadow(1px 1px 2px);
    border-radius: 50px;
    outline: none;
    cursor: pointer;
    
}