.burger-menu{
    position: absolute;
    height: 300px;
    color: white;
    margin-left: -8px;
}

.burger-menu a {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }