.jobListingsDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F8F8F8;
    gap: 3px;
}

.jobDiv{
    width: 90%;
    padding: 10px;
    display: flex;
    background-color: pink;
    border: 1px solid gray;
    justify-content: space-between;
    border-radius: 10px;
}
.listing-title{
    font-size: 2em;
}

